version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV:-production}
    ports:
      - '${PORT:-3000}:3000'
networks:
  secure_chat_network:
    external: true
  postgres_network:
    external: true
  redis_network:
    external: true
